#buttonCenter{
    margin-left: 17rem;
}

#button{
    height: 4rem;
    font-size: 20px;
    width: 14rem;
}

#radio1{
    width:15rem; 
    font-size:30px;
}

.box{
    width: 65%;
}

#imageBox{
    width: 267px;
    height: 221px;
    border-radius: 50%;
}


#image{
    position: relative;
    margin-top: 17px;
    width: 232px;
    height: 143px;
}

#file{
    width: 14rem;
}

#file::file-selector-button{
     display:none;
}
